* {
    box-sizing: border-box;

    margin: 0;
    border: 0;
    padding: 0;

    background-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow: hidden;
}

.home {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.home .logo {
    width: 172px;
}

.home button {
    width: 345px;
    height: 72px;

    border: 3px solid #FFEF61;

    border-radius: 12px;
}

.home button div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}

.logo-mini {
    position: absolute;
    top: 26px;
    left: 26px;

    width: 141px;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard {
    position: relative;

    width: 290px;
    height: 420px;

    border-radius: 10px;
  }

.face {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;

    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.front-face {
    transform: rotateY(180deg);
}

.flashcard.turned .front-face {
    transform: rotateY(0deg);
}

.flashcard.turned .back-face {
    transform: rotateY(-180deg);
}

.back-face span {
    font-size: 23px;
    font-weight: bold;
}

.face .flashcard-counter {
    position: absolute;
    top: 10px;
    right: 10px;
}

.face .turn-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.face .turn-button img {
    width: 35px;
}

.front-face span {
    position: absolute;
    top: 11px;

    font-size: 16px;
    font-weight: bold;
}

.front-face .answer-buttons {
    width: calc(100% - 40px);

    position: absolute;
    bottom: 10px;
    
    display: flex;
    justify-content: space-between;
}

.front-face .answer-buttons button {
    width: 60px;
    height: 45px;

    font-size: 10px;

    padding: 0 4px;
    border: 3px solid #000000;

    border-radius: 10px;
}

.border-red {
    border-color: #F64848 !important;
}

.border-green {
    border-color: #62DB38 !important;
}

.border-yellow {
    border-color: #FFEF61 !important;
}

.flashcard.turned.answered {
    width: 300px;
    height: 430px;

    border: 5px solid #000
}

.flashcard.turned.answered.passed {
    margin: 1500px 1000px 0 0;

    transform: rotateZ(-150deg);

    transition: ease-in .8s;
}

/*::::::::::::::::SUPPORT::::::::::::::::*/
button {
    cursor: pointer;
}